html, body {
    background-color: #232020;
    min-width: 500px;
}

img {
    width: 200px;
}

.article {
    padding: 5px;
    background-color: rgb(58, 58, 58);
    height: 380px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 11px 36px -16px rgba(0, 0, 0, 0.75);
    margin: 60px auto 5px auto;
}

.titleAArticle {
    color: rgb(233, 233, 233);
}

.history {
    color: rgb(233, 233, 233);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

header {
    margin-top: 5%;
    color: rgb(255, 253, 253);
    text-align: center;
    font-size: 3em;
}

.titleBegin {
    width: 290px;
    background-color: rgb(58, 58, 58);
    box-shadow: 2px 11px 36px -16px rgba(0, 0, 0, 0.75);
    margin-bottom: 0px;
    border-radius: 3px;
    padding: 3px;
}

#instructions {
    color: white;
}

.container-fluid {
    background-color: #232020;
}

.instruction {
    padding: 15px;
    margin: 10px 0;
}

.plus {
    background-color: #f67280;
}

.moins {
    background-color: #ffa372;
}

.fini {
    background-color: #0c9463;
}

.inputBack {
    background: #0000000e !important;
}

.try {
    background-color: #f56315 !important;
    border: #ffa372 !important;
}

.instru {
    margin-top: 10%;
}