body {
    height: 100vh;
    margin: 0;
    background: rgba(148, 139, 139, 0.335);
    font-size: 18px;
    overflow: hidden;
}

img {
    width: 200px;
}

.containerSite {
    display: flex;
    flex-direction: column;
}

.text-danger {
    text-align: center;
    color: red;
    font-weight: 500;
    margin: auto;
}

.article {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #93929266;
    height: 380px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 11px 36px -16px rgba(0, 0, 0, 0.75);
    margin: 15px auto;
}

.titleAArticle {
    color: rgb(233, 233, 233);
    text-align: center;
}

.imageOfArticle {
    margin: 10px auto;
}

.history {
    color: rgb(233, 233, 233);
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

header {
    color: rgb(255, 253, 253);
    text-align: center;
    width: 100%;
}

#formulaire {
    width: 500px;
    margin: -17px auto;
}

.inputsearch {
    width: 100%;
    padding: 5px;
    margin: 15px auto;
    height: 35px;
    border-radius: 5px;
}

.btncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
}

.titleBegin {
    /* width: 100%; */
    background-color: #3a3a3a9e;
    box-shadow: 2px 11px 36px -16px rgba(0, 0, 0, 0.75);
    margin-bottom: 0px;
    padding: 3px;
}

#instructions {
    color: white;
}

.container-fluid {
    background-color: #232020;
}

.instruction {
    padding: 15px;
    margin: 10px 0;
}

.plus {
    background-color: #f67280;
}

.moins {
    background-color: #ffa372;
}

.fini {
    background-color: #0c9463;
}

.inputBack {
    background: #0000000e !important;
}

.try {
    background-color: #f56315 !important;
    border: #ffa372 !important;
}

.instru {
    width: 50%;
    margin: 2% auto;
}

#instructions {
    height: 250px;
    overflow: auto;
}

.button5 {
    display: inline-block;
    padding: 0.9em 1.6em;
    border: 0.1em solid #1fe039;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: rgb(9, 231, 57);
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
    border-radius: 8px;
}

.button5:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.button6 {
    display: inline-block;
    padding: 0.9em 1.6em;
    border: 0.1em solid #f5b80f;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: rgb(9, 231, 57);
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
    border-radius: 8px;
}

.button6:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}